* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.wraper {
  max-width: 90%;
  margin: 0 auto;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-radius: 7px;
  width: 33vw;
}

.btn {
  background-color: #63bdd4;
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

h1 {
  color: #63bdd4;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #63bdd4;
  width: 125px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  color: #63bdd4;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
}

.btn-add {
  margin-left: 213px;
}

.form-container {
  width: 250px;
  align-self: center;
}

header {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 36px;
  border: 2px solid black;
  align-items: center;
  border-radius: 5px;
}

.nav-bar-options {
  display: flex;
}

.nav-link {
  margin-right: 10px;
}

.link span {
  margin-left: 5px;
}

.link {
  color: #63bdd4;
  font-weight: bold;
}

.logo {
  margin-left: 10px;
  color: #63bdd4;
  font-size: 1.2vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 36px;
  border: 2px solid black;
  align-items: center;
  border-radius: 5px;
}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin-left: 10px;
  color: #63bdd4;
  font-weight: bold;
}

.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact p {
  align-self: flex-start;
}

.contact-last-paragraph {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.active {
  color: black;
}

.date-time p {
  text-align: right;
  margin-top: 5px;
}

